
body{
background-color: white;
}

header {
  min-height: 66px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  background: #ffffff;
  z-index: 2;
}


#logo{
  position: fixed;
  top:10px;
  left:10px;

}

#menu ul {
	padding:0px;
	margin:0px;
	color:#EDEDED;
	list-style:none;
  text-align:right;
  margin-top: 30px;
}

#menu ul li {
  display: inline;
  font-family: "Roboto", sans-serif;
}

#menu ul li a{
	padding: 2px 10px;
	display: inline-block;
	color: #333;
	text-decoration: none;
}

#menu ul li a:hover{
	padding: 2px 10px;
	display: inline-block;
	color: #000;
	text-decoration: none;
}

.info{
  font-family:"Roboto", sans-serif;
  margin-left: 100px;
  margin-top: 100px;
}

.info h1{
  text-align: center;
  font-size: 40px;

}

.info p{
  text-align: justify;
  
}
