
body{
background-image: url("../img/festival.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.anuncie{
  margin: 100px auto;
  width: 300px;
  padding: 30px 25px;
  background: white;
  border: 1px solid #c4c4c4;

}

.anuncie img{
  margin-left: 5%;
  width: 50px;
  height: 50px;
}

.login-input {
  width: 285px;
  height: 50px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #f0776c;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline:0;
}

h1.login-title {
  margin: -28px -25px 25px;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  color: #ADADAD;
  text-align:center;

}
.anuncie p{
  color: #363636;
}

#fileupload{
  margin-bottom: 25px;
  font-size: 12px;
}

.anuncie label{
  font-size: 10px;

}
