body{
  background-color: #ccc;
}

#cadastro{
  margin-left: 460px;
  margin-top: 120px;
  font-family: "Roboto", sans-serif;
  border-style: hidden;
  border-radius: 10px;
  border-color: gray;
  width:300px;
  background-color: #ffffff;
  padding-bottom: 10px;

}

#cadastro h1{
  font-family: "Roboto", sans-serif;
  color:#000000;
  text-align: center;
}

#cadastro input{
  border-width: thin;
  border-style:solid;
  border-color: #ccc;
  border-spacing: 10px;
  border-radius: 5px;
  height: 25px;
  margin-left: 70px;
}

#cadastro label{
  margin-left: 70px;
  font-size: 12px;
}

#login{
  display: inline-block;
}

#login h1{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}
