
body{
  background-color: #c0deed;
}
.event-info{
  margin: 10% 10%;
  background-color: white;
}

.event-info img{
margin-left: 2%;
}

.event-info h1{
  font-size: 28px;
  margin-bottom: 5%;
  margin-left: 2%;
}

.descrpt li{
  margin-bottom: 5px;
  margin-left: 2%;

}

.anunc{
  margin-top: 5%;
}

.anunc h2{
  font-size: 24px;
  margin-bottom: 5%;
  margin-left: 2%;
}


.pub img{
  border-radius: 50%;
  width: 50px;
}
.pub ol{
  margin-left: 2%;
}

.anunc li{
  margin-bottom: 5px;
}
