@viewport {
  width: device-width;
  zoom: 1;
}
body{
  background-color:#1dcaff;
}

.holder{
  background-color: white;
  margin-top: 8%;
  margin-right: device-width;
  margin-left: device-width;
  border-radius: 5px;
}

.banner{
  max-width: 100%;
  margin-top: 10%;
}
.banner img{
  margin-top: 2%;
  max-width: 100%;
}

.info h1{
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin-left: 2%;
}
.info p{
  font-family: "Roboto", sans-serif;
    margin-left: 2%;
}
.info h2{
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin-left: 2%;
}

.info figure{
  display: inline-block;
  position: relative;
  margin-right: 0%;
  width: 25%;
}
.info img{
  max-width: 100%;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  margin-left: 0.5%;
  display: inline;
}

.maps{
  overflow:hidden;
  max-width:100%;
  margin-left: 0%;
}


.button{
  background-color: #1dcaff;
  border-radius: 5px;
  width: 20%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-left: 40%;
}
.button a{
  color: white;
  text-decoration: none;
}
.button a:hover{
  color:#c0deed;
}

.contato{
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  border-color: #ccc;
  display: inline-block;
  max-width: 100%;
  vertical-align:top;
  padding: 7%;
}

figcaption{
  font-family: "Roboto", sans-serif;
  color: #333;
  text-align: center;
}
.contato p{
  font-size: 14px;
  color: #333;
}
