@viewport {
  width: device-width;
  zoom: 1;
}

body{
  background-color:#1dcaff;
}


header {
  min-height: 66px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  background: #ffffff;
  z-index: 2;
}


#logo{
  position: fixed;
  top:10px;
  left:10px;

}

#menu ul {
	padding:0px;
	margin:0px;
	color:#EDEDED;
	list-style:none;
  text-align:right;
  margin-top: 30px;
}

#menu ul li {
  display: inline;
  font-family: "Roboto", sans-serif;
}

#menu ul li a{
	padding: 2px 10px;
	display: inline-block;
	color: #333;
	text-decoration: none;
}

#menu ul li a:hover{
	padding: 2px 10px;
	display: inline-block;
	color: #1dcaff;
	text-decoration: none;

}

#info h1{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin-top: 100px;
  color:white;
}

#info h2{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: white;
  font-size: 16px;
}

.grid{
  display: inline-block;
  vertical-align:middle;
  margin-left: 5%;
  margin-right: 5%;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: white;
  background-color: white;
}
.grid img{
  border-style: solid;
  border-width: thin;
  border-color: #ccc;
  text-align: center;
}

.grid h3{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  margin-top: -10px;

}
.grid a{
  text-decoration: none;
  color: black;
}
.grid a:hover{
  color: #1dcaff;
}

#post1{
  display: inherit;
  margin-left: 0%;
}

#post2{
  display: inherit;
  margin-left: 0%;
}

#post3{
  display: inherit;
  margin-left: 0%;
}

#post4{
  display: inherit;
  margin-left: 0%;
}

#post5{
  display: inherit;
  margin-left: 0%;
}

#post6{
  display: inherit;
  margin-left: 0%;
}


#post7{
  display: inherit;
  margin-left: 0%;
}

#post8{
  display: inherit;
  margin-left: 0%;
}
