body{
  background-image: url("../img/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.info{
  margin-left: 10%;
  margin-top: 220px;
  display: block;
}

.info h1{
  color: #fff;
  text-align: left;
  font-size: 60px;
}

.info p{
  margin-top: 30px;
  font-size: 30px;
  text-align: left;
  color: #fff;
  border-style: hidden;
}

#button{
  margin-left: 30%;
  margin-right: 60%;
  margin-top: 10%;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}

#button a{
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #000;
}

#button a:hover{
  color: #ccc;
}
