
body{
  margin: 60px;
}
h1{
  font-family:"Lato", sans-serif;
  color: #ffffff;
  text-align: center;
  border-style:solid;
  border-width: thin;
  border-color: #ffffff;
  background-color: #f05656;

}
h2{
  font-family:"Lato", sans-serif;
  color:#f05656;
}
h3{
  font-family:"Lato", sans-serif;
}
ul{
  font-family:"Lato Thin", sans-serif;
}

p{
  font-family:"Lato Thin", sans-serif;
  text-align: justify;;
}

figure{
  text-align: center;
}
