body{
  background-color: #ccc;
}

header {
  min-height: 66px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  background: #ffffff;
  z-index: 2;
}

#logo{
  position: fixed;
  top:10px;
  left:10px;
}

.header nav{
  float: right;
  text-align: center;
  display: block;
}

nav ul {
  list-style: none outside none;
  margin: 0;

}
ul{
  list-style-type: none;
  font-family:"Roboto", sans-serif;
  display: inline;
  text-align: center;
}

li{
  font-family: "Roboto", sans-serif;
  float: right;
  text-align: center;
  margin-top: 25px;
}

h1{
  color: #000000;
  text-align: center;
  font-family: "Roboto" sans-serif;
}

form{
  text-align: center;
  margin-top:200px;
}

#login{
  text-align: center;
}


a:link {
  text-decoration: none;
  color:#6E6E6E;
}

a:hover{
  text-decoration: none;
    color: #6E6E6E;
}

a:visited {
    text-decoration: none;
      color: #6E6E6E;
}
