#logo{
  position:relative;
  top:10px;
  text-align: center;
}

#menu ul {
	padding:0px;
	margin:0px;
	color:#EDEDED;
  text-align: center;
	list-style:none;
  margin-top: 4%;
}

#menu ul li {
  display: inline-block;
}

#menu ul li a{
	padding: 2px 10px;
	color: #333;
	text-decoration: none;
}

.info h1{
  font-size: 20px;
  margin-top: 40%;
  margin-bottom: 20%;
}

.login{
  margin-left: 2%;
  margin-right: %;
  text-align: center;
  border-style: hidden;
  border-radius: 10px;
  width:95%;
  background-color: #ffffff;
  height: 100%;
}

.side-bar{
  margin-top: 25%;
  width: 100%;
  background-color: #2b2b2b;
}

.user-info{
  height: 5%;
}


.user-info img{
display: none;
}
