#logo{
  position:relative;
  top:10px;
  text-align: center;
}

#menu ul {
	padding:0px;
	margin:0px;
	color:#EDEDED;
  text-align: center;
	list-style:none;
  margin-top: 4%;
}

#menu ul li {
  display: inline-block;
}

#menu ul li a{
	padding: 2px 10px;
	color: #333;
	text-decoration: none;
}

.info h1{
  font-size: 20px;
  margin-top: 40%;
  margin-bottom: 20%;
}
