
body{
  background-color: #00aced;
}

h1{
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-align: justify;
  margin-left: 60px;
  color: #ffffff;
  }
.container{
  margin-top: 80px;
  color: white;
}

.container p{
  font-family: "Roboto", sans-serif;
  text-align: justify;
  margin-left: 60px;
  margin-right: 700px;
  color:#ffffff;
}

.container h1{
  font-family:"Roboto", sans-serif;
  margin-left: 60px;
  margin-top: 100px;
  color:#ffffff;
  font-weight: normal;

}

.container h2{
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-left: 60px;
  margin-top:30px;
  font-weight: normal;

}

#banner img{
    text-align: right;
    float: right;
    width: 200px;
    height: 200px;

}
