
body{
  background-color: #00aced;
}

.banner{
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
}

.banner img{
  text-align: center;
  width: 200px;
  height: 200px;
}

.holdr{
  margin-top: 10%;
  margin-left: 5%;
  max-width:60%;
}

.holdr h1{
  color: #fff;
}

.holdr p{
  margin-top: 1%;
  text-align: justify;
  color:#ffffff;
}

.holdr h2{
  color: #fff;
  margin-top:30px;}
